nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 20px;
}

nav a.active{
    background: #000;
    color: #fff;
}

nav a img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

input{
    width: 50%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #E9E9E9;
    font-weight: 500;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.search-container input.search {
    width: 100%;
    padding: 15px 40px 15px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #E9E9E9;
    font-weight: 500;
}

.search-container i.fas.fa-search {
    position: absolute;
    right: 15px;
    color: #888;
    font-size: 18px;
}

.container {
    display: grid;
    height: 100px;
    width: 100px;
}


  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #fff;
  }
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .card {
    flex: 0 0 auto;
    width: 300px;
    background: linear-gradient(to top right, #fff, #fff);
    margin: 10px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 10px #fff;
  }
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  .carousel .card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .carousel .card img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  .card h2 {
    font-size: 2em;
    margin: 10px;
    text-transform: uppercase;
  }
  .card p {
    margin: 10px;
  }
  .shop-button {
    display: block;
    margin: 10px;
    padding: 10px 15px;
    background: #a7a6a6;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
  }

  .item {
    font-size: 48px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }

  .item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
  }

  .grid .item {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .grid .item:hover {
    transform: scale(1.1);
    color: #007BFF; /* Change to desired hover color */
  }

